@media (min-width: 360px) and (max-width: 768px){
    .imageProfile{
        cursor: pointer;
        position: relative;
        right: -35%;
        top: -115px;
        width: 40px;
        z-index: 100;
    }
}

@media (min-width: 769px) and (max-width: 1440px) {
    .imageProfile{
        cursor: pointer;
        position: relative;
        right: -35%;
        top: -235px;
        width: 48px;
        z-index: 100;
    }
}

@media (min-width: 1441px){
    .imageProfile{
        cursor: pointer;
        position: relative;
        right: -35%;
        top: -100px;
        width: 56px;
        z-index: 100;
    }
}