.footer {
    align-items: center;
    background-color:  #36D6AD;
    color: white;
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    height: 100px;
    width: 100vw;
}